@mixin title {
    margin: 0 0 32px;
    font-family: "Old Standard TT", "Times", "Times New Roman", serif;
    font-size: 64px;
    line-height: 80px;
    font-weight: 400;
    text-align: center;
};

@mixin subtitle {
    margin: 24px 0 12px;
    font-size: 28px;
    line-height: 40px;
    font-weight: 500;
};









@mixin breakpoint-lg {
    @media screen and (max-width: 1080px){
        @content;
    }
}
@mixin breakpoint-md {
    @media screen and (max-width: 992px){
        @content;
    }
}
@mixin breakpoint-sm {
    @media screen and (max-width: 768px){
        @content;
    }
}
@mixin breakpoint-sm-litle {
    @media screen and (max-width: 630px){
        @content;
    }
}
@mixin breakpoint-xs {
    @media screen and (max-width: 480px){
        @content;
    }
}
@mixin breakpoint-xs-litle {
    @media screen and (max-width: 450px){
        @content;
    }
}
@mixin breakpoint-xs-litle2 {
    @media screen and (max-width: 390px){
        @content;
    }
}